asgiref==3.12.1
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
Django==5.2.17
django-stubs==5.2.7
django-stubs-ext==6.1.1
djangorestframework==3.18.1
djangorestframework-stubs==3.16.5
drf-spectacular==0.30.0
freezegun==1.5.5
idna==3.20
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mypy==1.18.2
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
pluggy==1.6.0
psycopg==3.3.6
psycopg-binary==3.3.6
Pygments==2.21.0
pytest==8.4.2
pytest-django==4.11.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
ruff==0.13.2
six==1.17.0
sqlparse==0.6.0
types-PyYAML==6.0.12.20260906
types-requests==2.33.0.20260906
typing_extensions==4.16.0
tzdata==2026.4
uritemplate==4.2.0
urllib3==2.8.0
waitress==3.0.2
